body{
	background-color: rgb(204, 204, 204)
}
h1,h2{
	 text-align: center;
}
a{
	text-decoration-line: none;
}
ul>li{
		list-style-type: none;
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255); 
	padding: 50px;
	border-radius: 10px;
}